.btn121{
    background-color: white;
    color: rgb(30,120,255);
    font-weight: bold;
    /* border-radius: 30px; */
  }
  .btn121:hover{
      background-color: rgb(30,120,255);
      color: white;
      font-weight: bold;
      border-radius: 30px;
    }
  .btn122{
    background-color: white;
    color: red;
    font-weight: bold;

  }
.btnheremy{
  background-color: #1b1b1b;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 700;

}
.btnheremy:hover{
  background-color: #1e78ff;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 700;

}